.navbar {
    background-color: black;
    }
    .nav-link {
    color: white;
    }
    .navbar-brand {color: white; 
    }

    a:hover {
        color: pink;
      }
body {
  font-family: 'Roboto', sans-serif;
  font-size: large;
  color: black;}